
body {
  background: #9999ff;
}

#wrap {
  width: 60em;
  margin: 0 auto;
  background-color: #ffffff;
}

#top-section {
  li {
    display: inline;
    list-style: none;
  }
}

#main-section {

}
h1 {
  font-size: 3em;
}

p {
  font-size: .9em;
}
